<div class="jumbotron">
  <h1>FTV Inventory</h1>
  <p>Welcome to the NEW asset tracking software for the Pacific Union College Film & Television Department! Click the button below to be taken to a list of our assets!</p>
<p><a class="btn btn-primary btn-lg" <a href="/assets" role="button">Click Here</a></p>
</div>